.task{
    border:1px solid black;
    border-radius: 10px;
    padding:5px;
    margin-bottom:10px;
    margin-left:5px;
    position: relative;
}
.done{
    text-decoration: line-through
}
.taskHeader{
    font-weight: 500;
    font-size: 15px;
}

.inputControls{
    right:50px;
    top:10px;
    position: absolute;
}